.node td {
  border: 1px solid rgb(175, 216, 248);
  width: 25px;
  height: 25px;
}

.node-start {
  background-color: red;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.node-finish {
  background-color: blueviolet;
}

.shortest-path-node {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(106, 255, 143);
  }
}

@keyframes wallAnimation {
  from {
    will-change: transform;
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    will-change: transform;
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    will-change: transform;
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}
