.node td {
  border: 1px solid rgb(175, 216, 248);
  width: 25px;
  height: 25px;
}

.node-start {
  background-image: url("../../public/icons/angle-right-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: specialNodes;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.node-finish {
  background-image: url("../../public/icons/target.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: specialNodes;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.shortest-path-node {
  animation-name: shortestPath;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #97d523;
    border-radius: 100%;
  }

  50% {
    background-color: #3ce7a0;
  }

  100% {
    transform: scale(1);
    background-color: #23d5ab;
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 255, 255);
    background-image: url("../../public/icons/angle-right-solid.svg");
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
  }

  100% {
    transform: scale(1);
    background-color: rgb(241, 226, 11);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(12, 53, 71, 0.8);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(12, 53, 71, 1);
  }

  100% {
    transform: scale(1);
    background-color: rgba(12, 53, 71, 0.5);
  }
}

@keyframes specialNodes {
  0% {
    transform: scale(0.3);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
