.navbar {
  background-color: rgb(150, 75, 0);
}
.visualize-button {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
  flex: 0.1 1 auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
}

.visualize-button:hover {
  background-position: right center;
}
